<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="androidworkshop.org.week3">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!--
            Activities are specified here in the AndroidManifest.xml file.
            For each activity, you can specify intent filters and whatnot
            to intercept implicit intents and handle them.
         -->

        <!--
            The MainActivity class is the entry point of our application, and thus,
            has a special intent filter. For action, it has the ACTION_MAIN value
            and for category, it has LAUNCHER. This marks the MainActivity class
            as the entry point of the app.
         -->
        <activity
            android:name="androidworkshop.org.week3.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.HelloActivity"
            android:label="@string/hello_world"/>

        <activity
            android:name=".activities.CalculateActivity"
            android:label="@string/activity_calculate">

        </activity>

        <!--
            This activity can only be opened through an implicit intent.
            This intent would have to have the ACTION_SEND action and the data
            would have to have a mime type of image/* for this activity
            to be listed in the activity chooser.
        -->
        <activity
            android:name=".activities.DisplayImageActivity"
            android:label="@string/activity_display_image">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TweetActivity"
            android:label="@string/activity_twitter"/>

    </application>

</manifest>
